 body {
        background-image: url(64c0b67f4aa4f4832eefc63c_-29.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position:center;
        background-attachment: fixed;
        text-align:initial;
        color: black;
        font-family:'Courier New', Courier, monospace; 
    }
    .announcement-container {
        background-color: rgb(250, 226, 230);
        padding: 100px;
        margin: auto;
        max-width: 600px; 
        border-radius: 20px;
    }
    p {
        font-size:x-large;
    }
    .highlight {
        color: #af2cfc; 
        color:indigo;
    }
